* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    transition: 500ms;
    text-align: center;
    text-decoration: none;
}


:root{
--main-theme:  rgb(71, 71, 71);
--blue: rgb(45, 121, 192);
--white-text: rgb(255, 255, 255);
}

