
.greetings{
    background-image: url("https://images.unsplash.com/photo-1519038002825-79cb69b03499?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;

    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.greetings h1{
    margin: 0 0 50px 0;
    text-align: center;
}